*{
    margin: 0;
    padding: 0;
}

/***********Home Page***************/

/*background*/
.header{
    min-height: 70vh;
    width: 100%;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/*navbar*/
nav img{
    width: 250px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

.nav-bar{
    flex: 1;
    text-align: right;
    font-weight: 800;
}

.nav-bar ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;   
}

.nav-bar ul li a{
    color: #16394B;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

/*banner-text*/
.info{
    width: 90%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #16394B;
}

.info h1{
    font-size: 60px;
}

.info h3{
    font-size: 40px;
}

.info p{
    margin: 10px 0 40px;
    font-size: 25px;
}

/*registration-btn*/
.reg-buuton{
    display: inline-block;
    text-decoration: none;
    border: 1px solid ghostwhite;
    color: ghostwhite;
    border-radius: 5px;
    padding: 12px 34px;
    font-size: 25px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.reg-buuton:hover{
    border: 1px solid #16394B;
    background: #16394B;
    transition: 1s;
}

.gap{
    height: 50px;
}

/*about-instructor*/
.instructor{
    width: 80%;
    margin: auto;
    text-align: center;
    color: #16394B;

}

.instructor h1{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.instructor p{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.row{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}


.row h3{
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.row p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: justify;
}

/*all-features*/
.features{
    width: 80%;
    margin: auto;
    text-align: center;
    color: #16394B;
}

.features h1{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.features p{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img-col{
    flex-basis: 32%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.img-col:hover{
    box-shadow: 0 0 20px 0px lightslategray;
}

.img-col img{
    width: 100%;
}

#featues-para{
    text-align: center;
    font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;
}

/*review-sec*/
.review{
    width: 80%;
    margin: auto;
    text-align: center;
    color: #16394B;
}

.review h1{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.review p{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.review-col{
    flex-basis: 45%;
    background: rgb(231, 235, 240);
    border-radius: 10px;
    padding: 20px 12px;
    margin-bottom: 5%;
    box-sizing: border-box;
    
}

.review-col:hover{
    box-shadow: 0 0 20px 0px lightslategray;
}


/*footer*/
.footer{
    width: 100%;
    text-align: center;
}

footer{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 600;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #16394B;
}



/***********About Us***************/

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    
}

.about-col{
    flex-basis: 45%;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    padding: 0;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    color: #16394B;
}

.about-col p{
    padding: 15px 0 25px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #16394B;
}

.about-reg-buuton{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #16394B;
    color: #16394B;
    border-radius: 5px;
    padding: 12px 34px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: transparent;
    position: relative;
    cursor: pointer;
}


.about-reg-buuton:hover{
    border: 1px solid rgb(212, 212, 214);
    background: rgb(212, 212, 214);
    transition: 1s;
}


/***********Contact Us***************/

.map {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.map iframe{
    width: 100%;
}

.contact-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    
}

.contact-col{
    flex-basis: 50%;
    padding: 20px 2px;
}

.contact-col img{
    width: 100%;
}

.contact-col h1{
    padding: 0px 100px ;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    color: #16394B;
}

.contact-col p{
    padding: 15px 100px 25px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #16394B;
}


/***********Sign In***************/

.sigin-header{
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    background-image: url(images/singin.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
}

.sigin-col{
    flex-basis: 80%;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.sigin{
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #16394B;
}

.sigin h1{
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.sigin p{
    font-size: 20px;
    margin: 15px 0;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sigin input{
    font-size: 15px;
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #16394B ;
    outline: none;
    border-radius: 10px;
}






