.gap
{
    margin: 100px;
}
.sigin{
    margin-top: 40px;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #16394B;
}

.sigin h1{
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.sigin p{
    font-size: 20px;
    margin: 15px 0;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sigin input{
    font-size: 15px;
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #16394B ;
    outline: none;
    border-radius: 10px;
}

.add-button{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #16394B;
    color: #16394B;
    border-radius: 5px;
    padding: 12px 34px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: transparent;
    position: relative;
    cursor: pointer;
}


.add-button:hover{
    border: 1px solid rgb(212, 212, 214);
    background: rgb(212, 212, 214);
    transition: 1s;
}

.info{
    border-collapse: collapse;
    margin: 25px 0px 50px;
    min-width: 400px;
    font-family: 'Courier New', Courier, monospace;

}

.info thead tr {
    background-color: lightseagreen ;
    text-align: left;
    color: #16394B;
}

.info th, td {
    padding: 12px 15px;
}

.info tbody tr {
    border-bottom: 1px solid lightslategray;
}

.add2-button{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #16394B;
    color: #16394B;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
    position: relative;
    cursor: pointer;
}


.add2-button:hover{
    border: 1px solid rgb(212, 212, 214);
    background: rgb(212, 212, 214);
    transition: 1s;
}